/*自定义部分*/
:root {
    /*——————整—————体——————*/
    --KeyOpen: 1s;
    /*开屏动画效果(关闭改成0)*/
    --Trantime: 0.4s;
    /*过渡动画效果(关闭改成0)*/
    --contop: 80vmin;
    /*整体离顶部的距离*/
    --contmove: 15vmin;
    /*整体聚焦下移的距离*/
    --BoxRadius: 7px;
    /*主要元素的圆角*/
    --Boxblur: 5px;
    /*主要元素的模糊*/
    --Boxbg: rgba(255, 255, 255, .1);
    /*背景色*/
    --BoxBor: 1px;
    /*主要元素的边框粗细*/
    --BoxColor: rgba(128, 128, 128, .2);
    /*边框颜色*/
    /*——————搜—索—区—域——————*/
    --Animation: 2s;
    /*动态渐变效果(关闭改成0)*/
    --SearT: 30vh;
    /*引擎浮现动画(关闭改成0)*/
    --SugT: 70px;
    /*联想框位移动画(关闭改成0)*/
    --Sugturn: 0.5turn;
    /*联想词倒序(正序改成0)*/
    --SugY: 6px;
    /*联想框位置(改成auto显示在下方)*/
    --SugWt: var(--SearWt);
    /*聚焦后联想框宽度*/
    --SearWo: 80%;
    /*未聚焦时的搜索框宽度*/
    --SearWt: 96%;
    /*聚焦后的搜索框宽度*/
    --SearRadius: var(--BoxRadius);
    /*搜索框的圆角*/
    --SearBor: var(--BoxBor);
    /*搜索框的边框粗细*/
    --SubDis: none;
    /*搜索框放大镜(启用改为block)*/
    --ClearDis: block;
    /*删字按钮(禁用改为none)*/
    --ScanDis: block;
    /*扫码按钮(禁用改为none)*/
    --ScanOpa: 1;
    /*扫码按钮透明度，0~1内均可*/
    /*——————书—————签——————*/
    --Markblur: var(--Boxblur);
    /*书签抽屉背景模糊*/
    --Markbg: var(--Boxbg);
    /*书签抽屉背景色*/
    --Boxnum: 4;
    /*每行书签的最大数量(自适应改为auto)*/
    --Heio: 1 * 47px;
    /*书签抽屉未展开时的高度*/
    --Heit: 5 * 47px;
    /*书签抽屉展开时的高度*/
    --Opacity: 0.5;
    /*多彩书签的透明度*/
    --Contrast: 2;
    /*多彩书签的对比度*/
    --TitRadius: 80px;
    /*书签单字或图片的圆角*/
    --ShowDis: inherit;
    /*可展开提示(禁用改为none)*/
    --ShowCont: "﹀";
    /*可展开提示的内容*/

    /*不需要书签抽屉展开部分的，可将本CSS后面的“书签抽屉展开”之后的内容全部删除*/

}

/*网页内容*/
#content {
    top: calc(var(--contop) - 70px);
}

#content:has(:is(#fltBtn, #button_group, .opSug_wpr, #search_submit):hover, #search_input:focus) {
    transform: translateY(var(--contmove));
    transition: var(--Trantime) ease 1ms;
}

/*开屏动画*/
.logo,
.opSug_wpr,
.search_bar,
#button_group,
#bookmark_part:before {
    position: absolute;
    display: inline-block;
    animation: hi var(--KeyOpen);
}

.title,
.overlay,
.box .url {
    animation: hi2 var(--KeyOpen);
}

#box_container {
    animation: hi3 var(--KeyOpen);
}

@keyframes hi {
    0% {
        opacity: 0;
        margin-top: 60px;
    }
}

@keyframes hi2 {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
}

@keyframes hi3 {
    0% {
        height: 47px;
    }
}

/*设置圆角、背景色、模糊*/
.opSug_wpr:has(tr),
.search_bar,
.title,
.search_button {
    backdrop-filter: blur(var(--Boxblur));
    border: var(--BoxBor) solid var(--BoxColor);
    border-radius: var(--BoxRadius) !important;
    background-color: var(--Boxbg);
}

/*设置渐变色文字*/
.logo {
    background: -webkit-linear-gradient(left, #348DA6, #E6D205 25%, #348DA6 50%, #E6D205 75%, #348DA6);
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: hi var(--KeyOpen), runs var(--Animation) infinite linear;
}

@keyframes runs {
    to {
        background-position: -100% 0;
    }
}

/*会显示的部分*/
#content:has(:is(#fltBtn, #button_group, .opSug_wpr, #search_submit):hover, #search_input:focus) :is(#content, .opSug_wpr, .search_bar, #fltBtn, #search_submit, #button_group, .search_button),
.logo,
.search_bar,
#scanqr,
#content,
.box,
#bookmark_part:before {
    opacity: 1;
    visibility: visible;
    transition: var(--Trantime) ease 1ms, border 0s;
}

/*会隐藏的部分*/
#content:has(:is(#fltBtn, #button_group, .opSug_wpr, #search_submit):hover, #search_input:focus) :is(#bookmark_part, #box_container, .logo, #scanqr),
.opSug_wpr,
#search_submit,
#fltBtn,
#button_group,
.search_button,
#bookmark_part:hover:before {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: var(--Trantime) ease 1ms;
}

#bookmark_part,
#box_container {
    transition: var(--Trantime) ease 1ms, backdrop-filter 0s, opacity calc(var(--Trantime)*.5);
}

/*普通logo部分*/
#logo {
    font-size: 39px;
    white-space: nowrap;
    transform: translate(-50%, -55px);
}

/*联想框部分*/
.opSug_wpr {
    bottom: var(--SugY);
    width: var(--SearWo);
    transform: translate(-50%, var(--SugT));
    display: inline-block !important;
    border: 0;
    margin-top: 90px;
    max-height: 190px;
    z-index: 3;
}

.opSug_wpr:has(tr) {
    animation: sug var(--Trantime);
}

@keyframes sug {
    0% {
        opacity: 0;
        transform: translate(-50%, var(--SugT));
    }
}

#content:has(:is(#fltBtn, #button_group, #search_submit):hover, #search_input:focus) .opSug_wpr,
.opSug_wpr:hover {
    width: var(--SugWt);
    transform: translate(-50%, 0);
}

.opSug_wpr td {
    white-space: nowrap;
    padding-left: 14px;
}

.opSug_wpr :is(table, td) {
    transform: rotate(var(--Sugturn));
}

/*搜索框*/
.search_bar {
    width: var(--SearWo);
    border-width: var(--SearBor);
    border-radius: var(--SearRadius) !important;
    transform: translateX(-50%);
    margin: 0;
    z-index: 4;
}

#content:has(:is(#fltBtn, #button_group, .opSug_wpr, #search_submit):hover, #search_input:focus) .search_bar {
    width: var(--SearWt);
}

#search_input {
    margin-left: -3px;
}

.search_part {
    margin: 0;
    width: 100%;
}

/*搜索框内放大镜*/
#search_submit {
    display: var(--SubDis) !important;
    width: max-content;
    margin: 0 8px 0 0;
    position: absolute;
    right: 0;
}

#content:has(:is(#fltBtn, #button_group, .opSug_wpr):hover, #search_input:focus) #search_submit,
#search_submit:hover {
    position: static;
}

/*书签部分*/
/*书签抽屉未展开*/
#bookmark_part {
    border-radius: var(--BoxRadius);
    height: calc(var(--Heio));
    width: calc(var(--SearWo) + 2.2%);
    border: var(--BoxBor) solid transparent;
    transform: translate(-50%, 46px);
    margin: 2px 0;
    box-sizing: content-box;
    padding: 0 2.6% 8px;
    display: inline-block;
    position: absolute;
}

#box_container {
    height: calc(var(--Heio));
    overflow: scroll;
    width: 100%;
}

/*隐藏溢出部分*/
.box {
    overflow: hidden;
}

/*书签文字(填满宽度)*/
.title,
.box .url {
    width: 100%;
}

/*书签图片(设定圆角)*/
.title,
.overlay {
    border-radius: var(--TitRadius) !important;
}

/*↓将书签变为卡片↓*/
.box {
    backdrop-filter: blur(var(--Boxblur));
    border-radius: var(--BoxRadius) !important;
    background-color: var(--Boxbg);
    margin: 6px calc((100%/var(--Boxnum)) * (1/20));
    width: calc((100%/var(--Boxnum)) * (18/20)) !important;
    animation: hi2 var(--KeyOpen);
    height: 35px !important;
}

.title,
.overlay,
.box .url {
    animation: 0s;
}

/*书签单字(隐藏但保留多彩)*/
.title {
    filter: contrast(var(--Contrast));
    position: absolute;
    text-indent: -99cm;
    border-radius: 0 !important;
}

/*书签图片(隐藏)*/
.overlay {
    display: none !important;
}

/*书签底部文字(移入书签内)*/
.box .url {
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
}

/*↑将书签变为卡片↑*/

/*↓书签抽屉展开↓*/
#bookmark_part:hover {
    border: var(--BoxBor) solid var(--BoxColor);
    background-color: var(--Markbg);
    backdrop-filter: blur(var(--Markblur));
    height: calc(var(--Heit));
    margin-top: 11px;
    padding-top: 8px;
    z-index: 3;
}

#bookmark_part:hover #box_container {
    height: 100%;
}

#bookmark_part:before {
    backdrop-filter: blur(var(--Markblur));
    border-radius: var(--BoxRadius);
    content: var(--ShowCont);
    background-color: var(--Markbg);
    display: var(--ShowDis);
    transform: translate(-50%, calc(var(--Heio)));
    animation: hi4 calc(var(--KeyOpen)*1.2);
    width: 50px;
    padding-top: 4px;
}

@keyframes hi4 {

    0%,
    50% {
        opacity: 0;
    }
}

#bookmark_part:hover:before {
    transform: translate(-50%, calc(var(--Heit)));
}

#content:has(#bookmark_part:hover) #search_input {
    visibility: hidden;
}

/*↑书签抽屉展开↑*/